.calc {
  max-width: 400px;
  margin: 10vh auto 0 auto;
 
 
  font-size: 40px;
  font-family: monospace;
  justify-content: flex-end;
  
}

#result-screen {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  background-color: black;
  font-size: 40px;
  font-family: monospace;
  justify-content: flex-end;
  color:white
  

}

.buttons {
  display: grid;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.button {
  border: 0.5px solid black;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  font-size: 40px;
  font-family: monospace;
  justify-content: flex-end;
  background-color: #D3D3D3;
  color: black;
}
#arith-button {
  background-color: #df974c;
  color: white;
  
}
#arith-button:hover{
  background-color: #dfb07e;
}


.button:hover {
  background-color: #E5E4E2;
}
